* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
}

header {
    font-family: 'Philosopher', sans-serif;
    background-color: #1b9e4b;
    color: white;
    font-size: 40px;
    font-weight: 700;
    padding: 5px 15px;
}

main {
    background-color: white;
    margin: 20px 10px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flex {
    display: flex;
}

.flex1 {
    flex: 1;
    justify-content: space-around;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

h1 {
    background-color: #f7f7f7;
    color: #1b9e4b;
    padding: 8px 10px;
    font-size: 20px;
    line-height: 24px;
    margin: 0 5px;
    border-radius: 10px;
    font-weight: 400;
}

.team-logo {
    padding: 15px;
    border: 10px solid #eff0f2;
    border-radius: 100px;
}

.info-bar {
    padding: 12px 10px 5px;
    gap: 5px;
}

.green-pill {
    font-size: 10px;
    color: #1b9e4b;
    background-color: #f4fcf7;
    text-align: center;
    border-radius: 100px;
    padding: 3px 10px;
    max-width: 2rem;
}

.percentage-bar {
    display: flex;
    height: 20px;
}

.green {
    background-color: #1b9e4b;
    color: white;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    border-radius: 100px 0 0 100px;
    flex: 1;
}

.yellow {
    background-color: #fff7cd;
    color: #9e841b;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    flex: 1;
}

.red {
    background-color: #fff0e0;
    color: #e1123c;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    border-radius: 0 100px 100px 0;
    flex: 3;
}

.team-name-bar {
    padding: 0 13px;
}

.team-name {
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    max-width: 5rem;
}

.button-container {
    gap: 15px;
}

button {
    color: #1b9e4b;
    font-size: 12px;
    line-height: 14px;
    background-color: #f4fcf7;
    border: none;
    border-radius: 5px;
    padding: 0.1rem 0.2rem;
}

.button-pressed {
    background-color: #1b9e4b;
    color: white;
}

.paragraph {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    padding: 7px 13px 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 10px;
    row-gap: 13px;
    column-gap: 17px;
}

.grid-container > * {
    border: 1px solid #1b9e4b;
    border-radius: 8px;
}

.number-matches{
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
    padding-left: 8.5px;
    padding-bottom: 2px;
}

.matches-percentage {
    font-size: 18px;
    font-weight: 700;
    margin: 4px 8px 0 0;
}

.align-vertical {
    align-items: flex-end;
}

.stats-matches {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 7px 0 9px 8.5px;
}

.bg-light-green {
    background-color: #f4fcf7;
}

.text-green {
    color: #1b9e4b;
}

.clean-sheets {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding-top: 2.5px;
    padding-left: 6.5px;
}

.green-bar {
    background-color: #1b9e4b;
    color: white;
    text-align: center;
    font-size: 10px;
    margin: 0 4.5px;
    border-radius: 100px;
}

.red-bar {
    height: 10px;
    width: 30%;
    background-color: #e1123c;
    border-radius: 100px;
    margin-left: 4.5px;
}

.red-bar-percentage {
    font-size: 10px;
    font-weight: 400;
    color: #e1123c;
    padding: 5px 10px 4px 0;
}

hr {
    border: none;
    height: 4px;
    border-radius: 4px;
    margin: 15px 10px;
    background-color: #E0E1E5;
}

.yellow-card {
    border-color: #9e841b;
    background-color: #fff7cd;
}

.text-yellow {
    color: #9e841b;
}

.red-card {
    border-color: #e1123c;
    background-color: #ffe0e0;
}

.text-red {
    color: #e1123c;
}

.text-align-right {
    text-align: right;
}